.idea
.env
.buildpath
.settings
.project
/vendor
/magento2
/composer.lock
/node_modules
/dist
.DS_Store
/magento-source

## Build artifacts
/src/RELEASE_NOTES.txt
/src/build.json
/dist
/tmp

.~lock.*

/src/at/
/src/de/
/src/fr/
/src/no/
/src/uk/
/src/ch-*/
/src/be-*/
